/* /Pages/CliPage.razor.rz.scp.css */
body[b-4yhhx6x9dz] {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0f0f0f;
    color: #00ff00;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.code-line[b-4yhhx6x9dz] {
    display: flex;
    align-items: baseline;
}

.code-area[b-4yhhx6x9dz] {
    border: 2px solid #00ff00;
    border-radius: 5px;
    padding: 10px;
    width: 600px;
    height: 400px;
    overflow: auto;
    background-color: #000;
}

.code-prompt[b-4yhhx6x9dz] {
    color: #00ff00;
    padding-left: 2px;
}

.code-input[b-4yhhx6x9dz] {
    color: #00ff00;
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-size: inherit;
}

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-0x1qj9c8xz] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-0x1qj9c8xz] {
    flex: 1;
}

.sidebar[b-0x1qj9c8xz] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-0x1qj9c8xz] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-0x1qj9c8xz]  a, .top-row[b-0x1qj9c8xz]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-0x1qj9c8xz]  a:hover, .top-row[b-0x1qj9c8xz]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-0x1qj9c8xz]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-0x1qj9c8xz] {
        display: none;
    }

    .top-row.auth[b-0x1qj9c8xz] {
        justify-content: space-between;
    }

    .top-row[b-0x1qj9c8xz]  a, .top-row[b-0x1qj9c8xz]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-0x1qj9c8xz] {
        flex-direction: row;
    }

    .sidebar[b-0x1qj9c8xz] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-0x1qj9c8xz] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-0x1qj9c8xz], article[b-0x1qj9c8xz] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-1pfz7l3jeu] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-1pfz7l3jeu] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-1pfz7l3jeu] {
    font-size: 1.1rem;
}

.oi[b-1pfz7l3jeu] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-1pfz7l3jeu] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-1pfz7l3jeu] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-1pfz7l3jeu] {
        padding-bottom: 1rem;
    }

    .nav-item[b-1pfz7l3jeu]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-1pfz7l3jeu]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-1pfz7l3jeu]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-1pfz7l3jeu] {
        display: none;
    }

    .collapse[b-1pfz7l3jeu] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

